[phases.setup]
nixPkgs = [
    "python311",
    "pango",
    "harfbuzz",
    "gdk-pixbuf",
    "glib",
    "cairo",
    "gobject-introspection",
    "gsettings-desktop-schemas"
]

[phases.install]
cmds = ["python -m venv .venv", ". .venv/bin/activate", "pip install -r requirements.txt"]

[phases.build]
cmds = ["python manage.py migrate", "python manage.py collectstatic --noinput"]

[start]
cmd = "gunicorn config.wsgi"